* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
html {
  max-width: 1440px;
  margin: 0 auto;
}
body {
  width: 100%;
  background-color: #E6D6D2
}
/* header */
header {
  width: 100%
}
.nav {
  align-items: center;
}
/* hero */
.hero-banner {
  background-image: url("./images/02-hero-bg.jpg");
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero-subtitle {
  margin-right: 50px;
  margin-top: 60px;
}
/* page wrapper */
.section-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
}
/* about me */
.about-me {
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
}
.about-me-header {
  border-right: 2px solid;
  margin-top: 9px;
  margin-right: 10px;
}
/* portfolio */
.portfolio-section {
  /* width: 100%; */
  margin-top: 20px;
  display: grid;
  grid-template-columns: 200px 1fr;
}
.portfolio-section-header {
  border-right: 2px solid;
  margin-top: 9px;
  margin-right: 10px;
}
.projects-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px 200px 200px 200px;
  grid-template-areas:
  "project1 project1"
  "project1 project1"
  "project2 project3"
  "project4 project5";
}
.project {
  border: solid;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.4s
}
.project:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.project-1 {
  grid-area: project1;
  background-image: url("./images/02-portfolio-4.jpg")
}
.project-2 {
  grid-area: project2;
  background-image: url("./images/02-portfolio-1.jpg");
}
.project-3 {
  grid-area: project3;
  background-image: url("./images/02-portfolio-2.jpg");
}
.project-4 {
  grid-area: project4;
  background-image: url("./images/02-portfolio-3.jpg");
}
.project-5 {
  grid-area: project5;
  background-image: url("./images/02-run-buddy.jpg");
}
.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.project-details {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cv-section {
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
}
