* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family:'Quicksand', sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  box-sizing: border-box;
  max-width: 1440px;
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 75px;
  width: 100%;
  background: #E6D6D2;
}
nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  background: #E6D6D2;
  margin: auto;
}
nav .navbar .logo a{
color: #DA7298;
font-size: 16px;
font-weight: 600;
text-decoration: none;
}
nav .navbar .menu {
  display: flex;
  list-style-type: none;
}
li {
  margin-right: 5px;
}
.navbar.menu li {
  list-style: none;
  margin: 0 15px;
}
.navbar .menu li a{
  color: #DA7298;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
section{
  /* height: 100vh; */
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  color: #da7298;
  font-size: 16px;
}
#about{
  background: #E6D6D2;
}
#work{
  background:#E6D6D2;
}
#CV{
  background:#E6D6D2;
}
#contact{
  background:#E6D6D2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  background-color: #E6D6D2;
  width: 100%;
  height: 5vh;
}

header h1 {
  margin-left: 3%;

}
.top-nav ul{
  display: flex;
  /* flex-wrap: wrap; */
  gap: 2rem;
  list-style: none;
}

.top-nav a {
  text-decoration: none;
}

.hero-banner {
  background-image: url("./images/02-hero-bg.jpg");
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero-subtitle {
  margin-right: 50px;
  margin-top: 60px;
}
.about-me {
  display: flex;
}
.about-me h2 {
  border-right: 2px solid;
  flex-basis: 25%;
}
.projects-container {
  display: flex;
}
.portfolio-section-header {
  border-right: 2px solid;
  flex-basis: 25%;
}
.portfolio-section {
  border: 3px solid green;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  "project1 project1"
  "project1 project1"
  "project2 project3"
  "project4 project5";
}

.project-1 {
  grid-area: project1;
  border: 1px solid black;
  background-image: url("./images/02-portfolio-4.jpg");
}
.project-2 {
  grid-area: project2;
  border: 1px solid black;
}
.project-3 {
  grid-area: project3;
  border: 1px solid black;
}
.project-4 {
  grid-area: project4;
  border: 1px solid black;
}
.project-5 {
  grid-area: project5;
  border: 1px solid black;
}
h3 {
  height: 40px;
  width: 100%;
}
.project img {
  width: 100%;
  height: 1fr;
}
.project-1 img {
  height: 2fr;
}
@media (max-width:500px){
  .about-me {
    flex-direction: column;
  }
  .about-me h2 {
    border: none;
    border-bottom: 2px solid;
  }
}